{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title_block %}
User Login
{% endblock %}


{% block body_block %}

{% include 'navbar.html' %}
<div class="container my-5">

    <div class="row">
        <div class="p-5 m-auto rounded shadow-lg col-md-4 bg-body">
            <h3 class="text-center text-success">Admin Login</h3>
            </h3>
            <form method="POST" class="my-5">

                {% csrf_token %}

                {% if error %}
                <div class="my-2">
                    <div class="row">
                        <div class="m-auto col">
                            <div class="text-center alert alert-danger" role="alert">
                                {{error}}
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}


                <div class="mb-4 form-outline">

                    {% render_field form.username|attr:'required:true' class="form-control" %}
                    <label class="form-label">Username</label>
                </div>

                <!-- Password input -->
                <div class="mb-4 form-outline">

                    {% render_field form.password|attr:'required:true' class="form-control" %}
                    <label class="form-label">Password</label>
                </div>

                <!-- 2 column grid layout for inline styling -->
                <div class="mb-4 row ">
                    <div class="col">
                        <!-- Checkbox -->
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" checked />
                            <label class="form-check-label"> Remember me </label>
                        </div>
                    </div>

                    <div class="col">
                        <!-- Simple link -->
                        <a href="#!">Forgot password?</a>
                    </div>
                </div>

                <!-- Submit button -->
                <button type="submit" class="mb-4 btn btn-primary btn-block">Sign in</button>

                <!-- Register buttons -->
                <div class="text-center">
                    <!-- <p>Not a member? <a href="/account/signup-customer">Register</a></p> -->
                    <!-- <p>or sign up with:</p> -->
                    <button type="button" class="mx-1 btn btn-primary btn-floating">
                        <i class="fab fa-facebook-f"></i>
                    </button>

                    <button type="button" class="mx-1 btn btn-primary btn-floating">
                        <i class="fab fa-google"></i>
                    </button>

                    <button type="button" class="mx-1 btn btn-primary btn-floating">
                        <i class="fab fa-twitter"></i>
                    </button>

                    <button type="button" class="mx-1 btn btn-primary btn-floating">
                        <i class="fab fa-github"></i>
                    </button>
                </div>



            </form>
        </div>
    </div>





</div>

{% include "footer.html" %}

{% endblock %}