<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.iconify.design/2/2.0.3/iconify.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css" rel="stylesheet" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Icon CDN  -->

    <link href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Admin Dashboard</title>
    {% block block_js %}

    {% endblock %}

    {% block css_block %}

    {% endblock %}
</head>

<body>


    <body id="body-pd">
        <header class="header" id="header">
            <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
            <div class="header_img"> <img
                    src="https://scontent.fdac129-1.fna.fbcdn.net/v/t1.6435-9/218355656_2907353449594514_8891674803584140107_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeH32DKS1H3vpMYLDVCHix65jhyqGXzoJSCOHKoZfOglIL9G9j1T-vWDYmej5RSWiiIET0qCV4_xNgqTGLUABwpT&_nc_ohc=W0BjbThD4i0AX_hZKSL&_nc_ht=scontent.fdac129-1.fna&oh=afabf315d5e8d89cf9d5150c91533eb7&oe=6184F732"
                    alt=""> </div>
        </header>
        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div> <a href="#" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span
                            class="nav_logo-name">Admin Dashboard</span> </a>
                    <div class="nav_list">
                        <a href="/manager/dashboard" class="nav_link">
                            <i class='bx bx-grid-alt nav_icon'></i>
                            <span class="nav_name">Dashboard</span> </a>


                        <a href="/manager/users" class="nav_link">
                            <i class='bx bx-user nav_icon'></i>
                            <span class="nav_name">Users</span>
                        </a>

                        </a> <a href="/manager/transaction-loan" class="nav_link">
                            <i class='bx bx-bar-chart-alt-2 nav_icon'></i>
                            <span class="nav_name">Transactions</span>
                        </a>


                        </a> <a href="/manager/approved-loan" class="nav_link">
                            <span class="iconify" data-icon="bx:bxs-user-check" data-width="30" data-height="30"></span>
                            <span class="nav_name">Approved Loan</span>
                        </a>
                        </a> <a href="/manager/loan-request-user" class="nav_link">
                            <span class="iconify" data-icon="codicon:request-changes" data-width="30"
                                data-height="30"></span>
                            <span class="nav_name">Request Loan</span>
                        </a>
                        </a> <a href="/manager/rejected-loan" class="nav_link">
                            <span class="iconify" data-icon="bx:bxs-user-x" data-width="30" data-height="30"></span>
                            <span class="nav_name">Rejected Loan</span>
                        </a>

                        <a href="/manager/add-category" class="nav_link">
                            <span class="iconify" data-icon="bx:bxs-category" data-width="30" data-height="30"></span>
                            <span class="nav_name">Add Category</span> </a>
                    </div>
                </div> <a href="/account/logout-customer" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span
                        class="nav_name">SignOut</span> </a>
            </nav>
        </div>
        <!--Container Main start-->
        <div class="height-100 bg-light">
            {% block body_block %}



            {% endblock %}
        </div>
        <!--Container Main end-->

        <script src="{% static 'js/modal.js' %}"></script>
        <script src="{% static 'js/admin.js' %}"></script>
        <!-- MDB -->
        <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>
    </body>

</html>