{% extends 'base.html' %}
{% load widget_tweaks %}
{%load static%}
{% block css_block %}

{% endblock %}


{% block body_block %}


<div class="container">


    <form method="POST">

        {% csrf_token %}

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            {% render_field form.username|attr:'required:true' class="form-control" %}
        </div>
        <div class="mb-3">
            <!-- <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" id="exampleInputPassword1"> -->

            {% render_field form.password|attr:'required:true' class="form-control" %}
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
    </form>

</div>


{% endblock %}