{% extends 'base.html' %}

{% load static %}

{% block css_block %}

<style>

</style>

{% endblock %}

{% block body_block %}



<footer class="text-center text-white bg-light">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
                <!-- Section: Social media -->
                <section class="mb-4">
                        <!-- Facebook -->
                        <a class="m-1 btn btn-primary btn-floating" style="background-color: #3b5998;" href="#!"
                                role="button"><i class="fab fa-facebook-f"></i></a>

                        <!-- Twitter -->
                        <a class="m-1 btn btn-primary btn-floating" style="background-color: #55acee;" href="#!"
                                role="button"><i class="fab fa-twitter"></i></a>

                        <!-- Google -->
                        <a class="m-1 btn btn-primary btn-floating" style="background-color: #dd4b39;" href="#!"
                                role="button"><i class="fab fa-google"></i></a>

                        <!-- Instagram -->
                        <a class="m-1 btn btn-primary btn-floating" style="background-color: #ac2bac;" href="#!"
                                role="button"><i class="fab fa-instagram"></i></a>

                        <!-- Linkedin -->
                        <a class="m-1 btn btn-primary btn-floating" style="background-color: #0082ca;" href="#!"
                                role="button"><i class="fab fa-linkedin-in"></i></a>
                        <!-- Github -->
                        <a class="m-1 btn btn-primary btn-floating" style="background-color: #333333;" href="#!"
                                role="button"><i class="fab fa-github"></i></a>
                </section>
                <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="p-3 text-center text-dark" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2021 Copyright
                <a class="text-dark" target="_blank" href="https://www.nahidjc.xyz/">Nahid Hasan</a>
        </div>
        <!-- Copyright -->
</footer>


{% endblock %}