{% extends 'base.html' %}

{% load static %}


{% block block_js %}
<script>

</script>
{% endblock %}


{% block css_block %}
<style>

</style>

{% endblock %}

{% block body_block %}
{% include 'navbar.html' %}
<div class="container my-5">
    <h1 class="text-center text-primary">Loan Request History</h1>
    <div class="my-5 users">



        <table class="table text-center table-light table-hover table-bordered table-striped">
            <thead class="bg-dark ">
                <tr class="text-dark ">
                    <th scope="col">SL</th>
                    <th scope="col">Loan ID</th>
                    <th scope="col">User ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Status</th>
                    <th scope="col">Category</th>
                    <th scope="col">Request Amount</th>
                    <th scope="col">Request Date</th>
                    <th scope="col">Year</th>
                    <th scope="col">Email</th>


                </tr>
            </thead>
            <tbody>
                {% for loan in loans %}

                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{loan.id}}</td>
                    <td>{{loan.customer.id}}</td>
                    <td>{{loan}}</td>
                    <td>
                        <button type="button" class="px-3 text-white btn btn-info btn-sm">
                            {{loan.status}}
                        </button>
                    </td>
                    <!-- <td> <img src="/media/{{user.profile_picture}}" alt="Profile Pic" height="40px" width="40px" />
                    </td> -->
                    <td>{{loan.category}}</td>
                    <td>{{loan.amount}} Tk</td>
                    <td>{{loan.request_date}}</td>
                    <td>{{loan.year}}</td>
                    <td>{{loan.customer.user.email}}</td>



                </tr>
                {% endfor %}

            </tbody>

        </table>





    </div>



</div>

{% include 'footer.html'%}
{% endblock %}